<div class="container">
  <h1>Sales order</h1>
  <div *ngIf="!err">
    <div class="row">
      <div [class]="admin ? 'col-lg-2 col-md-4 col-6' : 'col-md-5 col-12'">
        <mat-form-field class="w-100">
          <input matInput placeholder="Input subject to search" [(ngModel)]="keyword" (keyup.Enter)="onSearch($event)">
          <mat-icon *ngIf="!keyword" matSuffix>search</mat-icon>
          <button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear" (click)="keyword=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-5 col-6 text-center my-2" *ngIf="admin">
        <button mat-raised-button color="accent" (click)="onAdd()">Add a sale order</button>&nbsp;
        <button [disabled]="selection.selected.length === 0" mat-raised-button color="primary" (click)="onDeleteAll()">Delete all</button>
      </div>
      <div class="col-lg-2 col-3">
        <mat-form-field class="w-100">
          <input matInput [matDatepicker]="pickerFrom" placeholder="From date"
          [formControl]="from" (dateChange)="onFilterPeriod('from', $event)">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-3">
        <mat-form-field class="w-100">
          <input matInput [matDatepicker]="pickerTo" placeholder="To date"
          [formControl]="to" (dateChange)="onFilterPeriod('to', $event)">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-5 col-6">
        <mat-form-field style="width: 160px">
          <mat-label>Filter by status</mat-label>
          <mat-select [(ngModel)]="status">
            <mat-option *ngFor="let status of statuses" [value]="status.value" (click)="handleUpdateFilter({status: status.value, page: 0})">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="onDestroyFilter()" [disabled]="queryCount===0" mat-raised-button>Remove filters</button>
      </div>
    </div>
    <div *ngIf="total" class="my-3 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)"
        [matSortActive]="sortBy" [matSortDirection]="sortValue" matSortDisableClear>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row._id) : null"
              [checked]="selection.isSelected(row._id)"
            ></mat-checkbox>
          </td>
        </ng-container>

        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
          <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>

        <!-- ContactName Column -->
        <ng-container matColumnDef="contactName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact name </th>
          <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status | status}} </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef width ="16%"> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="onUpdate(element._id)">{{admin ? "Edit" : "Detail"}}</button>&nbsp;
            <button mat-raised-button color="warn" *ngIf="admin" (click)="onDelete(element._id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        *ngIf="total >= 8"
        [length]="total"
        [pageSize]="limit"
        [pageIndex]="page"
        [pageSizeOptions]="[8, 12]"
        (page)="onPageChange($event)"
        >
      </mat-paginator>
    </div>
    <div *ngIf="total === 0" class="row text-center my-3">
      <img class="img-error" src="assets/image/204.svg"/>
      <div>List is empty </div>
    </div>
  </div>
  <div *ngIf="err">
    <app-forbidden></app-forbidden>
  </div>
</div>


