<div mat-dialog-content>
  <h3>{{data._id ? 'Edit sale order' : 'Add new sale order'}}</h3>
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput [(ngModel)]="data.subject" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact name</mat-label>
    <input matInput [(ngModel)]="data.contactName" />
  </mat-form-field>
    <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status"/>
  </mat-form-field>
 <mat-form-field>
    <mat-label>Total</mat-label>
    <input matInput [(ngModel)]="data.total" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Assigned to</mat-label>
    <input matInput [(ngModel)]="data.assignedTo" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput [(ngModel)]="data.creator" />
  </mat-form-field>
   <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" mat-raised-button>Submit</button>
  <button class="ml-auto"mat-button (click)="this.dialogRef.close()" mat-raised-button color="primary" cdkFocusInitial>Cancel</button>
</div>
