<form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)">
  <div mat-dialog-content>
    <h3>Login</h3>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit">Login</button>
  </div>
</form>