<div class="container">
  <h1>Contacts</h1>
  <div *ngIf="!err">
    <div class="row">
      <div [class]="admin ? 'col-md-3 col-6' : 'col-md-6 col-12'">
        <mat-form-field class="ml-auto w-100">
          <mat-label>Search by contact name</mat-label>
          <input matInput placeholder="Input contact name to search" [(ngModel)]="keyword" (keyup.Enter)="onSearch($event)">
          <mat-icon *ngIf="!keyword" matSuffix>search</mat-icon>
          <button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear" (click)="keyword=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-6 text-center my-2" *ngIf="admin">
        <button mat-raised-button color="accent" (click)="onAdd()">Add a contact</button>&nbsp;
        <button [disabled]="selection.selected.length === 0" mat-raised-button color="primary" (click)="onDeleteAll()">Delete all</button>
      </div>
      <div class="col-md-2 col-4">
        <mat-form-field >
          <mat-label>Filter by Lead source</mat-label>
          <mat-select [(ngModel)]="leadSrc">
            <mat-option *ngFor="let leadSrc of leadSrcs" [value]="leadSrc.value" (click)="handleUpdateFilter({leadSrc: leadSrc.value, page: 0})">
              {{leadSrc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-4">
        <mat-form-field >
          <mat-label>Filter by Assigned to</mat-label>
          <input matInput
            placeholder="Input username to search"
            [formControl]="assignedTo"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.username" (click)="handleUpdateFilter({assignedTo: this.assignedTo.value, page: 0})">
              {{state.username}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-4 my-2" >
        <button (click)="onDestroyFilter()" class="float-right" [disabled]="queryCount===0" mat-raised-button>Remove all filters</button>
      </div>
    </div>

    <div *ngIf="total" class="mat-elevation-z8 my-3">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)"
        [matSortActive]="sortBy" [matSortDirection]="sortValue" matSortDisableClear>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row._id) : null"
              [checked]="selection.isSelected(row._id)"
            ></mat-checkbox>
          </td>
        </ng-container>
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- Salutation Column -->
        <ng-container matColumnDef="salutation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salutation </th>
          <td mat-cell *matCellDef="let element"> {{element.salutation}} </td>
        </ng-container>

        <!-- ContactName Column -->
        <ng-container matColumnDef="contactName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact name </th>
          <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
        </ng-container>

        <!-- MobilePhone Column -->
        <ng-container matColumnDef="mobilePhone">
          <th mat-header-cell *matHeaderCellDef> Mobile phone </th>
          <td mat-cell *matCellDef="let element"> {{element.mobilePhone}} </td>
        </ng-container>


        <!-- LeadSrc Column -->
        <ng-container matColumnDef="leadSrc">
          <th mat-header-cell *matHeaderCellDef> Lead source </th>
          <td mat-cell *matCellDef="let element"> {{element.leadSrc | leadSrc}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef width ="16%"> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="onUpdate(element._id)">{{admin ? "Edit" : "Detail"}}</button>&nbsp;
            <button *ngIf="admin" mat-raised-button color="warn" (click)="onDelete(element._id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        *ngIf="total >= 8"
        [length]="total"
        [pageSize]="limit"
        [pageIndex]="page"
        [pageSizeOptions]="[8, 12]"
        (page)="onPageChange($event)"
        >
      </mat-paginator>
    </div>
    <div *ngIf="total === 0" class="row text-center">
      <img class="img-error" src="assets/image/204.svg"/>
      <div>List is empty </div>
    </div>
  </div>
  <div *ngIf="err" class="row text-center">
    <div class="col-12">
      <img class="img-error" src="assets/image/403.svg"/><br/>
      <button mat-button [routerLink]="['/login']">Sign in to continue </button>
    </div>
  </div>
</div>
