<form [formGroup]="formChangePassword" (ngSubmit)="onSubmit(formChangePassword.value)">
  <div mat-dialog-content>
    <h3>Change password</h3>
    <mat-form-field>
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="currentPassword" type="password"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" type="password"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm New password</mat-label>
      <input matInput formControlName="confirmNewPassword" type="password"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit">Submit</button>
    <button mat-button type="button" class="ml-auto" (click)="this.dialogRef.close()" mat-raised-button color="primary" cdkFocusInitial>Cancel</button>
  </div>
</form>