<mat-toolbar color="primary" class="nav-height">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="openLeftSide()">menu</mat-icon>
    </button>
    <h1>Customer Relationship Management</h1>
    <div class="ml-auto">
      <button *ngIf="userName===undefined; else loggedIn" mat-raised-button (click)="onHandleSignin()">Sign in</button>
      <ng-template #loggedIn>
        <button mat-button [matMenuTriggerFor]="user">{{userName}}</button>
        <mat-menu #user="matMenu">
          <button mat-menu-item (click)="this.authService.logout()">Logout</button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <mat-icon mat-list-icon>home</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="['/users']">
        <mat-icon mat-list-icon>folder_shared</mat-icon> User Management
      </a>
      <a mat-list-item [routerLink]="['/sales-order']">
        <mat-icon mat-list-icon>receipt</mat-icon> Sales Order
      </a>
      <a mat-list-item [routerLink]="['/contacts']">
        <mat-icon mat-list-icon>gavel</mat-icon> Contacts
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <mat-icon mat-list-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      "
      [ngClass]="{
        'content-move-left': !isOpened,
        'content-move-right': isOpened
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
