<div mat-dialog-content>
  <h3>{{data._id ? 'Edit user' : 'Add new user'}}</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username" />
  </mat-form-field>
    <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.password" [disabled]="data._id"/>
  </mat-form-field>
 <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone" />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.isAdmin" >Is admin</mat-checkbox>
  <mat-checkbox [(ngModel)]="data.isActive" >Is active</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" mat-raised-button>Submit</button>
  <button class="ml-auto"mat-button (click)="this.dialogRef.close()" mat-raised-button color="primary" cdkFocusInitial>Cancel</button>
</div>
