<div class="container">
  <h1>Dashboard</h1>
  <div *ngIf="!err">
    <div class="row my-2" >
      <div class="col-lg-3 col-md-4 col-sm-5 col-6 my-2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{totalContact}}</mat-card-title>
            <mat-card-subtitle>{{leadSrc | leadSrc}}</mat-card-subtitle>
            <button mat-icon-button [matMenuTriggerFor]="menuContract" class="ml-auto">
              <mat-icon>gavel</mat-icon>
            </button>
            <mat-menu #menuContract="matMenu">
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : -1})">All contracts</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 0})">Existing Customer</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 1})">Partner</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 2})">Conference</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 3})">Website</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 4})">Word of mouth</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({leadSrc : 5})">Other</button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content>
            <button class="btn-break-content" mat-button (click)="onRedirect('contacts')">Number of contacts by {{leadSrc | leadSrc}}</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5 col-6 my-2">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{totalSalesOrder}}</mat-card-title>
            <mat-card-subtitle>{{status | status}}</mat-card-subtitle>
            <button mat-icon-button [matMenuTriggerFor]="menuSale" class="ml-auto">
              <mat-icon>receipt</mat-icon>
            </button>
            <mat-menu #menuSale="matMenu">
              <button mat-menu-item (click)="this.handleUpdateFilter({status : -1})">All sales</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({status : 0})">Created</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({status : 1})">Approved</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({status : 2})">Delivered</button>
              <button mat-menu-item (click)="this.handleUpdateFilter({status : 3})">Cancelled</button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content>
            <button mat-button (click)="onRedirect('sales-order')">Number of sales by {{status | status}}</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="admin" class="row">
      <div class="col-12 col-md-6">
        <h3>New contacts in the last 7 days</h3>
        <table mat-table [dataSource]="dataSourceContact" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Index Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <!-- Contact name Column -->
          <ng-container matColumnDef="contactName">
            <th mat-header-cell *matHeaderCellDef> Contact name </th>
            <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
          </ng-container>

          <!-- Assigned to Column -->
          <ng-container matColumnDef="assignedTo">
            <th mat-header-cell *matHeaderCellDef> Assigned to </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="onRedirect('contacts', element.assignedTo)">{{element.assignedTo}} </button>
            </td>
          </ng-container>

          <!-- Created time Column -->
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> Created time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsContact"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsContact;"></tr>
        </table>
        <mat-paginator
          *ngIf="total_Contact >= 8"
          [length]="total_Contact"
          [pageSize]="limitContact"
          [pageIndex]="pageContact"
          [pageSizeOptions]="[8, 12]"
          (page)="onPageChangeContact($event)"
          >
        </mat-paginator>
      </div>
      <div class="col-12 col-md-6">
        <h3>New sales orders in the last 7 days</h3>
        <div *ngIf="!saleOrder; else showInfo">
          <table mat-table [dataSource]="dataSourceSalesOrder" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Index Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Subject Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef> Subject </th>
              <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>

            <!-- Created time Column -->
            <ng-container matColumnDef="createdTime">
              <th mat-header-cell *matHeaderCellDef> Created time </th>
              <td mat-cell *matCellDef="let element"> {{element.createdTime | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSalesOrder"></tr>
            <tr mat-row class="record" *matRowDef="let row; columns: displayedColumnsSalesOrder;" (click)="onRecord(row)"></tr>
          </table>
        </div>
        <ng-template #showInfo>
          <mat-card>
            <mat-card-header>
              <button mat-icon-button (click)="this.saleOrder=null" class="ml-auto">
                <mat-icon>arrow_back_ios_new</mat-icon>
              </button>
              <mat-card-subtitle>Sale order infomation</mat-card-subtitle>
              <mat-card-title>{{saleOrder.subject}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="row pt-3 text-center">
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>contacts</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Contact name</mat-label>
                    <input matInput value={{saleOrder.contactName}} readonly />
                  </mat-form-field>
                </div>
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>contact_support</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <input matInput value={{saleOrder.status}} readonly />
                  </mat-form-field>
                </div>
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>summarize</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input matInput value={{saleOrder.total}} readonly />
                  </mat-form-field>
                </div>
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>assignment_ind</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Assigned to</mat-label>
                    <input matInput value={{saleOrder.assignedTo}} readonly />
                  </mat-form-field>
                </div>
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Creator</mat-label>
                    <input matInput value={{saleOrder.creator}} readonly />
                  </mat-form-field>
                </div>
                <div class="col-12 px-4">
                  <div class="form-icon">
                    <mat-icon>info</mat-icon>
                  </div>
                  <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput value={{saleOrder.description}} readonly />
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>
        <mat-paginator
          *ngIf="total_SalesOrder >= 8"
          [length]="total_SalesOrder"
          [pageSize]="limitSalesOrder"
          [pageIndex]="pageSalesOrder"
          [pageSizeOptions]="[8, 12]"
          (page)="onPageChangeSalesOrder($event)"
          >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div *ngIf="err" class="row text-center">
    <img class="img-error" src="assets/image/403.svg"/>
    <div>Đăng nhập đế tiếp tục</div>
  </div>
</div>
